<!DOCTYPE html>
<html>
<head>
    <title>문제 페이지</title>
</head>
<body>
    <h1>결과!</h1>
    <ul style="list-style-type: none">
        <li>문제1: {{ bigList[4] }}</li><br>
        <li>정답: {{ bigList[7] }}  당신의 답: {{ bigList[10] }}</li><br>
        <li>문제2: {{ bigList[5] }}</li><br>
        <li>정답: {{ bigList[8] }}  당신의 답: {{ bigList[11] }}</li><br>
        <li>문제3: {{ bigList[6] }}</li><br>
        <li>정답: {{ bigList[9] }}  당신의 답: {{ bigList[12] }}</li><br>
        <li>점수! {{ bigList[13] }}/3</li>
    </ul>
    


    <!-- input.html 페이지로 돌아가는 버튼 -->
    <a href="/" style="text-decoration: none; padding: 10px; background-color: blue; color: white; border-radius: 5px;">돌아가기</a>
</body>
</html>
